@{
    ViewData["Title"] = "Poliza Page";
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="https://cdn.grapecity.com/wijmo/5.20242.30/styles/wijmo.min.css">
</head>

<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main">
        <div class="content">
            <h3 class="border-bottom mb-5">Pólizas</h3>
            <div id="gridES"></div>
        </div>
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.input.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.filter.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.cellmaker.min.js"></script>

    <script>
        $(document).ready(function () {
            var gridES = null;
            var data = [
                { idEntrada_Salida: 1, folio: 'F001', carro: 'Carro1', fechaEntrada: '2025-02-10', fechaSalida: '2025-02-11' },
                { idEntrada_Salida: 2, folio: 'F002', carro: 'Carro2', fechaEntrada: '2025-02-11', fechaSalida: '2025-02-12' },
                // Agrega más objetos según sea necesario
            ];

            gridES = new wijmo.grid.FlexGrid('#gridES', {
                autoGenerateColumns: false,
                headersVisibility: 'Column',
                columns: [
                    { binding: 'idEntrada_Salida', header: 'Id', width: 100 },
                    { binding: 'folio', header: 'Folio', width: 75 },
                    { binding: 'carro', header: 'Carro', width: 200 },
                    { binding: 'fechaEntrada', header: 'Fecha Entrada', width: '*' },
                    { binding: 'fechaSalida', header: 'Fecha Salida', width: '*' },
                ],
                itemsSource: data,
                isReadOnly: true
            });
        });
    </script>
</body>
</html>