<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <!--    Stylesheets    -->
    <link rel="stylesheet" href="https://cdn.grapecity.com/wijmo/5.20242.30/styles/wijmo.min.css">
</head>

<body>
    <!--    Main Content    -->
    <div class="row">
        <!-- Contenido    -->
        <main class="col-md-12 px-md-4 main-content">
            <h3 class="border-bottom mb-5">Grupo</h3>
            <div>Hola</div>
        </main>
    </div>

    <!--    JavaScripts    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>